{% extends 'base.html.twig' %}

{% block title %}Recensement{% endblock %}

{% block content_title %}Recensement de message RP{% endblock %}

{% block introduction %}
    Cette page fournit le formulaire permettant de recensement les messages RP selon la
    <a
        href="{{ path('periode_index') }}"
        title="Cliquer pour accéder à la liste des périodes paramétrées"
    >
        période
    </a> à propos des informations suivantes :

    <ul class="list-group list-group-flush">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <strong>Mois réel</strong> durant lequel ont été postés les messages recensés.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <strong>Zone</strong> dans laquelle ont été postés les messages. Ceci permet aussi de définir la
                <u>région</u>.
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <strong>Personnage</strong> : l'auteur des-dits messages recensés, à condition qu'il ait été paramétré dans l'application.
            </div>
            <a
                href="{{ path('personnage_index') }}"
                class="badge bg-primary rounded-pill"
                title="Cliquer pour accéder à la liste des personnages paramétrés"
            >
                <i class="bi bi-box-arrow-up-right"></i>
            </a>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                Le <strong>nombre</strong> de messages postés selon les granularités listées au-dessus.
            </div>
        </li>
    </ul>
{% endblock %}

{% block content %}
    <div class="accordion mt-3" id="accordionSearch">
        <div class="accordion-item">
            <h2 class="accordion-header" id="accordionHeadingSearch">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordionContentSearch" aria-expanded="false" aria-controls="accordionContentSearch">
                    Rechercher un recensement
                </button>
            </h2>
            <div id="accordionContentSearch" class="accordion-collapse collapse" aria-labelledby="accordionHeadingSearch" data-bs-parent="#accordionSearch">
                <div class="accordion-body">
                    <div class="mb-2 text-muted">
                        En remplissant les informations indiquées, il est possible de rechercher un recensement déjà
                        effectué sur la période active.
                    </div>

                    <div>
                        {{ form_start(form_recherche, {attr: {action: path('app_recensement_search')}}) }}
                        {{ form_widget(form_recherche) }}

                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button
                                class="btn btn-outline-primary"
                                type="submit"
                                title="Rechercher un recensement pour les paramètres indiqués."
                            >
                                Rechercher
                            </button>
                        </div>
                        {{ form_end(form_recherche) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-3">
        <h2 class="card-header">Formulaire de recensement</h2>

        <div class="card-body">
            <h3 class="card-title">Filtres</h3>
            {{ form_start(form_filtre, {attr: {action: path('app_recensement_filter')}}) }}
            {{ form_widget(form_filtre) }}

            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button
                    class="btn btn-outline-primary"
                    type="submit"
                    title="Filtrer les propositions du recensement."
                >
                    Rechercher
                </button>
            </div>
            {{ form_end(form_filtre) }}
        </div>

        <div class="card-body">
            <h3 class="card-title">Recensement</h3>
            {% set recensement_found = recensement ?? false %}
            {{ form_start(form_recensement, {
                'action': path(recensement_found ? 'app_recensement_edit' : 'app_recensement_handle'),
                'method': recensement_found ? 'PATCH' : 'POST'
            }) }}
                {% if recensement_found %}
                    <input name="old_periode" type="hidden" value="{{ recensement.periode.code }}">
                    <input name="old_mois" type="hidden" value="{{ recensement.mois.ordre }}">
                    <input name="old_zone" type="hidden" value="{{ recensement.zone.code }}">
                    <input name="old_auteur" type="hidden" value="{{ recensement.auteur.nom }}">
                {% endif %}
                {{ form_widget(form_recensement) }}

                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button
                        class="btn btn-primary"
                        type="submit"
                        title="Soumettre le formulaire pour recenser les messages RP."
                    >
                        {{ recensement_found ? 'Modifier' : 'Recenser' }}
                    </button>
                </div>
            {{ form_end(form_recensement) }}
        </div>
    </div>
{% endblock %}
