{% extends 'base.html.twig' %}

{% block title %}Personnages{% endblock %}

{% block content_title %}Liste des personnages{% endblock %}

{% block introduction %}
    <div class="d-grid mb-2  gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary" href="{{ path('personnage_new') }}">Ajouter un personnage</a>
    </div>
{% endblock %}

{% block content %}
    <table class="table table-sm align-middle">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Faction</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for personnage in personnages %}
            <tr {% if personnage.actif is same as(false) %}class="text-muted"{% endif %}>
                <td>{{ personnage.nom }}</td>
                <td>{{ personnage.faction.nom ?? '' }}</td>
                <td class="gap-2 d-flex justify-content-end">
                    <a
                        class="btn btn-primary"
                        href="{{ path('personnage_edit', {'nom': personnage.nom}) }}"
                    >
                        Modifier
                    </a>
                    <a
                        class="btn btn-outline-primary"
                        href="{{ path('personnage_show', {'nom': personnage.nom}) }}"
                    >
                        Visualiser
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun enregistrement...</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('personnage_new') }}">Ajouter un personnage</a>
{% endblock %}
